@media only screen and (max-width: 600px) {

.fntsz{
    font-size: 13vw;
}

.para{
    font-size: 5vw;
    background-color: aqua;
  
}



.sola{
      margin-top: -10%;
}

.btns{
    font-size: 4vw;
    margin-top: 5%;
    padding-left: 4%;
    padding-right:4% ;

}

















}