.biggest{
    font-family: thunky;
    font-size: 5vw;
    color: #570D1B;
    font-weight: 100;
  
}


.blogheading{
    display: flex;
    gap: 20%;
    margin-top: -5%;
}

.blogp{
    width: 80%;
    margin-top: -5%;
    color: #570D1B;
}


.ml{
      margin-left: 5%;
      margin-bottom: 5%;
}


