

.btns{
    color: #FFECD2;
    background-color: #570D1B;
    font-size: 1.5vw;
    font-family: Thunky;
    border: transparent;
    padding: 1%;
    padding-left: 2%;
    padding-right:2% ;
    border-radius: 0.5rem;

}