
@media only screen and (max-width: 600px) {
  



.dispose{
    flex-direction: column;
}


.cinnabonaya{
    width: 70%;
    margin-left: 20%;
}

.dispa{
  margin-top: 15%;
  width: 70%;
}

.M{
    font-size: 50vw;
    padding: 0;
}

.name{
    font: 28vw;
}




















































  }

