@media only screen and (max-width: 600px) {

.M{
    font-size: 50vw;
    padding-top: 10%;
}

.dispa{
  margin-left: 25%;
  text-align: center;
}

.solo{
    font-size: 20vw;
    padding-left: 10%;
}




























}