
body{
    background-color: #FFECD2;
    margin: 0;
}
nav{
    position: fixed;
    width: 100%;
margin: 0;
}
.dis{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  list-style-type: none;
}

@font-face {
    font-family:Thunky ;
    src: url(../Assets/Thunky\ DEMO.otf);
}



.btns:hover{
    transition: tranform;
    transform: translateX(5px);
    transition-duration: 800ms;
    transition-timing-function: ease-in-out;
    


}
