@media only screen and (max-width: 600px) {


.mepicture{
    width: 30%;
    margin-top: -30%;
}


.thequote{
  font-size: 4vw;
  width: 60%;
}

.bookname{
    font-size: 2vw;
    margin-top: -5%;
}

























}