
.quotebg{
    background-image: url(../Assets/quotebg.svg);
    background-repeat: no-repeat;
    margin-top: 10%;
}

.designer{
    font-family: thunky;
    font-size: 5vw;
    padding-top: 3%;
    margin-left: 4%;
    font-weight: 100;
    color: #570D1B;
}

.thequote{
    font-family: thunky;
    font-size: 2.5vw;
    margin-left: 5%;
    font-weight: 100;
    color: #570D1B;
    margin-top: -5%;
    
    
}


.bookname{
    margin-left: 25%;
    font-family: arial;
    font-style: italic;
    color: #570D1B;
    padding-bottom: 3%;
}

.mepicture{
    position: absolute;
    margin-left: 70%;
    margin-top: -27%;
}