@media only screen and (max-width: 600px) {

.polls{
    flex-direction: column;
    margin-left: 5%;
    align-items: flex-start;
}

.software{
    font: 7vw;
    margin-left: 0;
    padding: 0;
}




}