@media only screen and (max-width: 600px) {

.polls{
    flex-direction: column;
    margin-left: 10%;
    align-items: flex-start;
}

.software{
    font: 10vw;
    margin-left: 0;
    padding: 0;
}


.pollmobile{
    width: 80%;
}



}